*.o
*.lo
*~
*.la
*.pc
*.tgz
*.gz

Makefile
Makefile.in
m4/
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
.deps/
.libs/
stamp-h1
INSTALL


provman-session
provman-system
src/session/com.intel.provman.server.service
src/system/com.intel.provman.server.service
src/system/provman.conf
doc/doxygen/doxyfile
doc/doxygen/doxygen.stamp
doc/doxygen/html/
doc/doxygen/latex/
